#code {
	padding-bottom: 15px;
	

	overflow: visible!important;
	
	    
	
	nav {
	    border: 0;
		background: #000000;;
		margin: 0 -15px;
		margin-bottom: 5px;
		white-space:nowrap;
		float: none!important;
		height: 50px;
		
		ul {
			background: linear-gradient(0deg, #0000007a 0%, #000000ad 71%, #000000 100%);
		    width: 100%;
			height: inherit;
			margin: 0;
			
			li {
				white-space:nowrap;
				float: none!important;		
				display:inline-block;	

				a {
					font-size: 21px;
					padding-top: 10px!important;
					adding-bottom: 15px!important;
					color: white;
					border-top: #7fffd400 6px solid;		
					 
					@media only screen and (max-width: 767px) {
					   font-size: 18px;
					   padding: 10px!important;
					}		
				}		

				a.active{
					border-top: #ffff7d 6px solid;
					color:#ffff7d;
				}
			}			
		}	
	}

	.container, .row, .samples,  .samples>div {
		height: 100%;
		
		
		@media only screen and (max-width: 767px) {
			& { height: auto;	}
		}	
	
		
	}
















	.container{
	    width: 100%;
	}

	.example {
		margin-top:5px;
	}

	form table tr td:first-child {
		width: 0px; 
	}
	
	.autocomplete {
	    display: inline-block;
	}
	
	form .control-label {
		padding-right: 20px;	
	}
	
	.list {
	    height: 280px;
	}
	
	.list td:nth-child(5) {
		width: auto;
	}
	
	.list td:nth-child(6) {
		display:none;
	}
}


form {
	label{
		color:black!important;	
	}
	
	.header {

		span {
			color:black!important;	
		}
	}
	
}


.code-bg {
	
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	xxbackground: linear-gradient(94deg, #c5c5c5 0%, #ffffff 79%);
	background: #c5c5c5;
}
