


[name=casestudy] {
	

		[name=img]  {
			float: right;
		}
		

}

@media only screen and (max-width: 767px) {	
	[name=casestudy] {
		
		h1 {
			font-size: 20px!important;
			
		}
		
		[name=img]  {
			display:none;
		}
	}
}
