


[name=casestudy] {
	

		xxpadding: 10px;	
	    xxmax-width: 900px;
	    xxmargin: 0 auto;


		[name=img]  {
			float: right;
		}
		

}

@media only screen and (max-width: 767px) {	
	[name=casestudy] {
		[name=img]  {
			display:none;
		}
	}
}
