

[name=coding] {
	
	h3{
		margin: 0!important;
		color: blue;
	}
	

	[name=card3] {
			a {
				position: absolute;
   				bottom: 10px;
			}	
	}	
}


[name=imgA], [name=imgB]{
	width: 150px!important;
	height: 118px!important;
}