

[name=coding] {
	
	h3{
		margin: 0!important;
	}
	

	[name=card-multipanel] {
		
		div:nth-child(2) {
				
				
				&>div {
					
					padding:30px; 
					padding:30px 0;
					max-width:300px;
					margin:auto;
				}
			
			
		}
		
		
		
		a {
				position: absolute;
   				bottom: 10px;
		}	
	}	
	
	
	
}

