
		
				
				.svg{
					text-align:center;
				}
				  
				
				img {
				 
					width:100%;
				}
				
				
				.rocket{
					text-align:center;
				    width: 100%;

				}
				
				.rocket img{
					display: inline-block;
				    width: 100%;
				    max-width: 700px;					
					
				}
	
