


header .nav-link {
	padding:0;
	
}



header {   
	background: black;
    color: rgb(255, 255, 255);
    height: 170px;
    position: relative;
	margin-bottom: 20px;
	overflow: hidden;


	[name=overlay] {
	    position: absolute;
	    left: 0;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    z-index: 1;
	    opacity: .5;
	}		




	.title {
		max-width: 450px;
		width: 100%;
		margin-bottom:5px
	}

	a {
		color: white!important;
		text-decoration: none!important;
		font-weight: 300!important;	
		text-shadow: 0px 0px 0px white;
		transition: all .3s;

		&:active {color: #ffff007d!important;}	

		&:hover {	color: yellow!important;	text-shadow: 0px 0px 2px white;	}	
		
		.caret {   vertical-align: initial; }		
	}
		

	[name=main]{
		
		position: relative;
		z-index: 10;
	}

	


	article{	
		margin: 0  175px 0 230px;
		z-index: 2;
		color: white;
		
		@media only screen and (max-width: 767px) {
			margin: 0 20px;
			line-height: 20px;
		}
		
		h4{
			margin: 0px;
			font-size: 40px;
			font-weight: 400;
			text-shadow: 0px 2px 3px #000000;
		}
				
		div.sub {
			font-weight: 600;
			font-size: 15px;	
			bottom: 0;
			padding-bottom: 5px;
			font-size: 17px;
			display:block;
			text-shadow: 1px 1px 2px  #0a0101;
			
			@media only screen and (max-width: 767px) {
				padding-bottom: 0px;
			}				
		}

	}

}


		
	nav {
		text-align: right;
		z-index: 5;
		padding: 5px;
		
		.dropdown-menu {
			
			background: #313131cc;
			border: 1px solid black;
			border-radius: 2px;
			
			li{
				padding:0;
				line-height:300;
				
				a:hover {	background: #313131cc; }	
			}
		}
		
		
		
		ul {
			white-space: nowrap;
			list-style-type: none;
			margin: 0;
			padding: 0;		
			
			li {
				font-size: 15px;
				cursor: pointer;
				padding: 10px;
				display: inline;
				font-weight: 600;
				
				a {
					font-weight: 100;
					font-size: 20px;
					
					@media only screen and (max-width: 500px) {
						font-size: 17px;
					}
				}
			}		
		}			
	}

