

html, body, #app {
	font-family: Calibri, Arial;
	font-size: 17px;
	height:100%;
	margin:0;
	position:relative;
	z-index:1;
}

main {
	display: block;
	position:relative;
    min-height: calc(100% - 105px);
	transition: all .5s;
}	


	


	 li:has( a.active) {

		background: #1400e754!important;
	 } 



/*********************    BACKGROUND    *************************************/

.background {
	background: linear-gradient(45deg, #ffffff 0%, #a8a8bb 50%, #938e8e 100%);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;	
}


[name=background-image] {
		top:0;
		bottom:0;
		left:0;
		right:0;
		min-width: 1000px;
		z-index:-1;
		position: fixed;
    	opacity: 1!important;
		width: 100%;				
}
  



/*************** CARDS ***********************************/

[name*=card] {
		line-height: 23px;
    	font-size: 18px;
    	font-weight: 200;	
    	
	    border: solid #5e5e5e 1px;
	
		margin: 30px 10px 10px 10px!important;
		position: relative;
		padding: 20px 40px;
		z-index: 1;	
		box-shadow: 3px 3px 6px 0px rgb(0 0 0 / 83%);
		background: white;
}


/** no padding***/
[name=card2] {
		padding:0;	
    	display: inline-block;
    	max-width: 500px;	
}

[name=card3] {
		text-align:left;
		
		z-index: 1;
	    display: inline-block;
	    width:100%;
		max-width: 800px;
		padding:0;
		
		&>div {
			padding:10px;
			display: inline-block;
		    vertical-align: top;
    		width: 50%;
    		
    		&:nth-child(2) {
	           background: linear-gradient(45deg, #a6a6a6 0%, #cecece 50%, #bababa 100%);
			}
		}
}

[name=card4] {
	margin-top: 20px!important;
	
}


	
@media only screen and (max-width: 767px) {	
	
	[name*=card] {
		padding: 5px;
		margin: 0px 0!important;	
	}
	
	
	
}
	
	


	


/******** H, HR *********************/




	h1 {
			color: #0000a5;
			font-size: 36px!important;
	}
	
	hr {
		border: #0000a5!important;
		background: #0000a5!important;
		font-size: 30px!important;
    	margin: 0px 0 0px 0px!important;			
	    border-top: 1px solid #d7d7d7;
	}


	 hr.short {
		opacity: 1!important;
	    background: #7b7979;
	    border: #7b7979;
	    margin: 5px 5px 10px 5px!important;
		height: 5px;
 		width: 32px;
	 }

	
		
.container {

	transition: all .5s;
}
		
		

		



h3{
    font-weight: 800;
    margin: 20px 0 5px 0px!important;	
    
}

h4{
	font-size:18px;
}
			
		

	
img {
	vertical-align: top;
}





	



	
@media only screen and (max-width: 767px) {		
		main{ margin-right: 0px; }	
}		
	

	
/*********************** WIDGETS ******************/
	
	
.step-bar {
	
	ul li {
		color: black!important;
	}
	
	
	.step-highlight {
		 z-index: 0!important;
	}	
}

	

	
			
	