

html {
	font-family: Calibri, Arial;
	font-size: 17px;
	height:100%;
	margin:0;
	position:relative;
	z-index:1;
	min-width: 255spx;
    overflow-x: hidden;
    color: black;
}

body {
	position:relative;
	z-index:1;	
	height:100%;
}

html, body, #app{ margin:0;height:100%; }
		
#app{
			position:relative;
				z-index:1;
}


main {
	display: block;
	position:relative;
	overflow: none;
    min-height: calc(100% - 110px);
	transition: all .5s;
}	

button {
	white-space: nowrap;
}


/*********************    BACKGROUND    *************************************/

.background {
	background: linear-gradient(45deg, #ffffff 0%, #a8a8bb 50%, #938e8e 100%);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;	
}


[name=background-image] {
		top:0;
		left:0;
		right:0;
		bottom:0;
		z-index:-1;
		position: fixed!important;
		width: 100%;
}


/*************** CARDS ***********************************/

[name*=card] {
		line-height: 23px;
    	font-size: 16px;
    	font-weight: 200;	
    	
  
	
	    border: solid #5e5e5e 1px;
	
		margin: 30px 10px 10px 10px!important;
		position: relative;
		padding: 20px 30px;
		z-index: 1;	
		box-shadow: 3px 3px 6px 0px rgb(0 0 0 / 83%);
		background: white;
		min-width: 260px;
		
		@media only screen and (max-width: 575px) {	
			
			padding: 5px;
			margin: 7px 0!important;			
			
			ul {
				padding-left: 17px;
			}
		}

}


	

/** centered **/
[name=card-center] {
	margin-left: auto!important;
	margin-right: auto!important;
	max-width: 700px;
}


/** no padding***/
[name=card-no-border] {
		padding:0!important;	
    	display: inline-block;
    	max-width: 500px;	
}

[name=card-multipanel] {
	    background: linear-gradient(90deg, white 0%, white 50%, #a6a6a6 0%, #cecece 50%, #bababa 100%);
		text-align:left;
		
		z-index: 1;
	    display: inline-block;
	    width:100%;
		max-width: 800px;
		padding:0!important;
		
		&>div {
			padding:10px;
			display: inline-block;
		    vertical-align: top;
    		width: 50%;
  
			@media only screen and (max-width: 700px) {	
				padding: 3px;
	  		}

    		
    		&:first-child { padding-bottom:40px;}
		}
		

}




	

	


	


/******** H, HR *********************/


	

	h1 {
	
			font-size: 36px!important;
   			text-shadow:  1px 2px 0px #0000007a;
    		color: #000000;  			
			transition: all .5s;
	}
	
	hr {
		border: #6c6cc8!important;
		background: #6c6cc8!important;
		font-size: 30px!important;
    	margin: 0px 0 0px 0px!important;			
	    border-top: 1px solid #6c6cc8;
	}


	 hr.short {
		opacity: 1!important;
	    background: #7b7979;
	    border: #7b7979;
	    margin: 5px 5px 10px 5px!important;
		height: 5px;
 		width: 32px;
	 }

	
		
.container {

	transition: all .5s;
}
		
		

		



h3{
    font-weight: 800;
    margin: 20px 0 5px 0px!important;	
    text-shadow:  1px 2px 0px #0000007a;  
}

h4{
	font-size:18px;
	text-shadow:  1px 2px 0px #0000007a;
}
			
		

	
img {
	vertical-align: top;
	width:300px;
}





	



	
@media only screen and (max-width: 800px) {		
		main{ margin-right: 0px; }	
		
		
		h1 {
			font-size: 23px!important;
		}
}		
	

	
/*********************** WIDGETS ******************/
	
form {
	
	hr{
		border: solid black 1px!important;
	}
}	
	

.step-bar {
	
	z-index: 10000;
	
	ul li {
		color: black!important;
	}
	
	.step-highlight {
		 z-index: 0!important;
	}	
}




		.tokenizer {
			
			input {
				width: 100%!important;
				vertical-align:bottom;
				
				@media only screen and (max-width: 700px) {	
	
					& {
						xxdisplay:block!important;
						xxwidth:100%!important;
					}			
				}	
			}

		}
		
		form {
			hr { border:solid black 1px!important;}
		}


			.error-msg {
			    font-weight: 600;
			    text-shadow: 1px 1px 2px #00000045;
			    background: transparent!important;
			}
			
			
.list td:last-child {
    width: 80px!important;

}		
	
	.list {
		max-width: 100%!important;
		[name=delete]{
			text-decoration: underline!important;
			color:blue!important;
		}
	}
	
	[name=search]{
		box-shadow: none!important;
	}
	
	
	
	.test{
		position:relative;
		
		display:inline-block;
		
	}
	


	[name=gallery-image] {
		margin: 0 3px;
		margin-bottom:20px;
	}
	

	
	.gallery-txt {
		text-align: center;
		position: absolute;
		top: 68px;
		left: 0;
		right: 0;
		color: #4e4e4e;
		line-height: 10px;
		font-size: 9px;
		font-weight: 400;
	}
	
	
	
.pointer {
	cursor:pointer;
}


[name=travel] .gallery-txt {
    line-height: 11px;
    font-size: 12px;
    font-weight: 400;
	}