
		.loader1.hide {
			opacity:0;
		} 

		
		
		.loader2 {
			position: absolute;
			top:0;
			bottom:0;
			left:0;
			right:0;
			background:white;
		}

		.loader2 img {	
			position: absolute;
			text-align: center;    
			top: calc(50% - 10px);
			left: calc(50% - 10px);
			height: 32px;
			width: 32px;		
		}	




