dropdown-menu.show{
	display:block;
}



.nav.secondary-nav {
	
	border-bottom: solid #c6c6c6 1px;
    margin-bottom: 20px;
}
	
.nav.secondary-nav	.nav-item {
	padding-right:10px;
	margin-top:10px;
}	
				
.nav.secondary-nav	.nav-item a {
	
	text-decoration: none;
	border-top: 4px solid white;
}

.nav.secondary-nav	.nav-item a.active {
	border-top: 4px solid black;
	Pointer-events: none;
}		

@media only screen and (max-width: 500px) {
	.nav.secondary-nav .nav-item {
	    padding-right: 5px;
	    font-size: 14px;
	}
}
