
	
form {

	.form-control {
		
		display:inline-block;
	}

	hr {
		
	 	margin-bottom: 0!important;
		margin: 0 0 10px 0!important;	
	}


	.glyphicon-ok, 
	.glyphicon-remove{
		display:none;
	}
	
	.tooltipAnchor {
		position:relative;
	}
	
	.has-feedback .form-control {
		
		padding-right: 25.5px;
	}	

	.has-success .glyphicon-ok, 
	.has-error .glyphicon-remove {
		display:block;
	}
	
	
	.has-error input {
		border-color: #dc3545;
		

	}
		
	input[type=checkbox] ~ .glyphicon-ok,
	input[type=checkbox] ~ .glyphicon-remove,
	.radio ~ .glyphicon-ok,
	.radio ~ .glyphicon-remove,
	select ~ .glyphicon-ok,
	select ~ .glyphicon-remove{
		display:none!important;
	}
}
	

	
	
	
	
	
	
	
	