





[name=resume] {

	[name=resume-border] {
		text-align:center;
		
		
	}

	 [name=resume-div] {
		box-shadow: 3px 3px 10px 3px rgb(0 0 0);
		border: solid #5e5e5e 1px;
		margin-top: 20px;
		margin-bottom: 20px;
		color: #565656;
		padding:40px;
		background:white;
		max-width: 900px;
		display: inline-block;
		text-align: left;
	}

	h5 {
		margin: 0;
	    font-size: 20px;
	}
	
	td{
		
		vertical-align: top;
	   
	    padding: 5px 20px 10px 20px;
	    font-weight: 400;
	    font-size: 16px;
	
		&:nth-child(1) {
			 white-space: nowrap;
		}
	}
		
	
}

