

	#home {
		
		background: red;
	}


	section section {
		margin-bottom: 20px;
		
		@media screen and  (min-width : 541px) {
			margin-left: 30px;
		}  		
	}

	ol, ul {
		margin-top: 0;
		margin-bottom: 0px;
		padding-left: 20px;
		
		@media screen and  (min-width : 541px) {
			margin-left: 46px;
		}  		
		
	}




	

