

	
	footer{
		z-index: 10000;
		background: white;
		position:relative;
		overflow:hidden;
	    display: block;
	    color: black;
	    padding: 5px 5px 0 5px;
		height: 35px;
		text-align:center;
        border-top: solid #8f8f8f 1px;

	}
	

	
	
	address {
			display:block;
			position:relative;
			float:right;
			margin-right: 20px;

				
	}	

	
	address img {
		width: 100px;
	}
			
	address a {
				color:white;
				padding-right: 10px;
				margin-top: 2px;
				position:absolute;
				height: 25px;
				width: 30px;
			}
			
			address a:nth-child(1){ left: 0px;}
			address a:nth-child(2){	left: 32px;	}			
			address a:nth-child(3){ left: 70px;}	
			
			