

	
	footer{
		z-index: 10000;
		background: white;
		position:relative;
		overflow:hidden;
	    display: block;
	    color: black;
	    padding: 5px 5px 0 5px;
		height: 35px;
		text-align:center;
        border-top: solid #8f8f8f 1px;

	}
	

	footer address {
		float:right;
		line-height: 20px;
	}
	
	footer address  a {
		color:black;
		padding: 0 5px;
	}

			