<!DOCTYPE html>
<html lang="en">
	<head>


		<style>
		
	
				
		html, body, #app{ margin:0;height:100%; }
		
		#app{
			position:relative;
				z-index:1;
		}
		

		
				
		.loader1 {
		    opacity: 1;
    		transition: opacity 0.75s;
			z-index:10;
			position: fixed;
			top:0;
			bottom:0;
			left:0;
			right:0;
			background:white;
		}
		


		.loader1 img {	
			position: absolute;
			text-align: center;    
			top: calc(50% - 10px);
			left: calc(50% - 10px);
			height: 32px;
			width: 32px;		
		}
		


		</style>
		<meta charset="utf-8">
		<title>Darin Cardin</title>
		
	
		
		<meta name="description" content="darin cardin">
		<meta name="keywords" content="darin cardin">
		<meta name="author" content="darin cardin">

		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<link rel="icon"  href="/assets/favicon.ico"/>
		<link rel="apple-touch-icon" href="<%= htmlWebpackPlugin.files.publicPath %>assets/icons/apple-touch-icon.png">
		<% preact.headEnd %>
	</head>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-C69Z82HT7D"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
		
		  gtag('config', 'G-C69Z82HT7D');
		</script>
				
	<body>
			<div class="init-loader loader1">
				<img src="/assets/preloader.gif" />
			</div>

		<% preact.bodyEnd %>
	</body>

</html>
