<!DOCTYPE html>
<html lang="en">
	<head>
		<style>
		
		html, body, #app{ margin:0;height:100%; }
		
		.loader {
			position: relative;
			width: 32px;
			margin: auto;
		}

		.loader img {	
			position: absolute;
			bottom: -16px;
			height: 32px;
			width: 32px;		
		}

		</style>
		<meta charset="utf-8">
		<title>Darin Cardin</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<link rel="apple-touch-icon" href="<%= htmlWebpackPlugin.files.publicPath %>assets/icons/apple-touch-icon.png">
		<% preact.headEnd %>
	</head>
	<body>
		<div id="app" >
			<div class="loader" style="height:50%;">
				<img  src="assets/preloader.gif" />
			</div>
		</div>



		<% preact.bodyEnd %>
	</body>
</html>
